@font-face {
  font-family: 'OpenSans';
  src: url(fonts/OpenSans-Regular.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url(fonts/Poppins-Regular.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url(fonts/Poppins-Medium.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url(fonts/Poppins-SemiBold.ttf) format('truetype');
  font-display: swap;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --softMagenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
}
html,
body {
  width: 100%;
  height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_area {
  min-width: 320px;
  padding: 10%;
  background: var(--violet);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: right 0px top 0px;
  background-size: 100%;
}

.content_area {
  min-width: 256px;
  height: auto;

  color: var(--white);
}

.top_area {
  margin-bottom: 54px;
}
img:first-child {
  width: 132px;
  margin-left: -4px;
  margin-bottom: 52px;
}

.bottom_area {
  text-align: center;
}
.bottom_area h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 12px;
}
.bottom_area p {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 90%);
  margin-bottom: 24px;
  line-height: 1.5rem;
}
.bottom_area button {
  font-family: 'Poppins';
  font-size: 0.75rem;
  letter-spacing: 0.3px;
  padding: 12px 76px;
  color: var(--violet);
  background: var(--white);
  border: none;
  border-radius: 30px;
  margin-bottom: 48px;
  box-shadow: 0 5px 10px hsl(0, 0%, 31%);
  cursor: pointer;
}

.bottom_area button:active,
.bottom_area button:hover {
  color: var(--white);
  background: var(--softMagenta);
}
.social_icon a {
  text-decoration: none;
}

.social_icon a i {
  color: var(--white);
  padding: 6px 5px;
  width: 30px;
  height: 30px;

  border: 1px solid var(--white);
  border-radius: 50%;
  margin: 0 6px;
}
.social_icon a:active i,
.social_icon a:hover i {
  color: var(--softMagenta);
  border-color: var(--softMagenta);
}
@media (min-width: 820px) {
  body {
    height: 100%;
  }
  .main_area {
    padding: 5%;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: left 0px top 0px;
  }
  .content_area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top_area {
    flex-basis: 54%;
    margin-bottom: 0;
  }
  .bottom_area {
    flex-basis: 41%;
    text-align: left;
  }

  .first_area h1 {
    margin-top: 74px;
  }
  .social_icon {
    text-align: end;
  }
  .social_icon i {
    text-align: center;
  }
}

@media (min-width: 1300px) {
  .main_area {
    width: 1440px;
    height: 800px;
    background-size: 92%;
    padding: 54px 76px 40px 74px;
  }
  .content_area {
    width: 100%;
  }
  .top_area {
    flex-basis: 709px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top_area img:first-child {
    width: 203px;
    padding-top: 2px;
  }
  .top_area img:nth-child(2) {
    width: 100%;
    margin-bottom: 61px;
  }

  .bottom_area {
    flex-basis: 526px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bottom_area h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.8125rem;
    margin-top: 184px;
    margin-bottom: 20px;
  }
  .bottom_area p {
    font-size: 1.0625rem;
    line-height: 1.625rem;
    letter-spacing: 0.5px;
    padding-right: 16px;
  }
  .bottom_area button {
    font-size: 1.0625rem;
    padding: 15.5px 64px;
  }
  .social_icon a i {
    width: 40px;
    height: 40px;
    padding: 11px;
  }
}
